<div class='home' >
    <div class="row">
      <div class="col-sm-9 bg-light group-space">
        <p>hello</p>
      </div>
      <div class="col-sm-3 task-space">
        <p>world</p>
      </div>
    </div>
  </div>  
</div>


<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>  

